// main colors
$primary-color: #80afbf;
$secondary-color: #101a3e;
$accent-color: #f7f5f1;
$charcoal: #4b606d;

// form colors
$form-background: #2A88AD;
$form-border: #257C9E;

// cover letter analysis colors
$confident-color: #35992d;
$confident-color-border: #0f7707;

$joy-color: #c4c92c;
$joy-color-border: #a0a509;

$analytical-color: #a52e26;
$analytical-color-border: #82110a;

$tentative-color: #7c6a5e;
$tentative-color-border: #5b4537;

$sadness-color: #552b91;
$sadness-color-border: #37087a;
