@import "base";

.dashboard-container {
  width: 60%;
  margin: 15px 0 0 0;
}

.heading-box {
  padding: 20px;
  border-radius: 10px 10px 0 0;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  background: $form-background;
  font: normal 15px 'Bitter', serif;
  h5 {
    font-size: 22px;
  }
}

.tone-head {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  font: normal 18px 'Bitter', serif;
  background: $form-background;
}

.tone-container {
  width: 80%;
  margin-top: 20px;
}

.form-display-buttons {
  width: 60%;
  display: flex;
}

.left-button {
  width: 50%;
  padding:20px;
  border-radius: 0 0 0 10px;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  font: normal 15px 'Bitter', serif;
  text-align: center;
}

.right-button {
  width: 50%;
  padding:20px;
  border-radius: 0 0 10px 0;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  font: normal 15px 'Bitter', serif;
  text-align: center;
}

.paste-button {
  width: 50%;
  padding:20px;
  border-radius: 10px 0 0 10px;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  font: normal 15px 'Bitter', serif;
  text-align: center;
  margin-top: 10px;
}

.image-button {
  width: 50%;
  padding:20px;
  border-radius: 0 10px 10px 0;
  padding: 15px 30px 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid $form-border;
  font: normal 15px 'Bitter', serif;
  text-align: center;
  margin-top: 10px;
}

.button-activated {
  background: $form-background;
}

.button-deactivated {
   background: $primary-color;
}

.inactive-full-width {
  display: none;
}

.form-style{
  width: 80%;
  padding: 20px;
  margin: 20px auto;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style .inner-wrap{
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-head {
    background: $form-background;
    padding: 15px 30px 10px 30px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid $form-border;
    font: normal 18px 'Bitter', serif;
}

.form-style input[type="text"],
.form-style textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style textarea {
  height: 300px;
}

.form-style .section{
    color: $form-background;
    margin-bottom: 5px;
    font: normal 15px 'Bitter', serif;
}

.form-style .section span {
    background: $form-background;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form-style input[type="submit"] {
    background: $form-background;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    border: 1px solid $form-border;
    font: normal 15px 'Bitter', serif;
}

.form-style input[type="submit"]:hover {
    background: #2A6881;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.current-documents {
  display: flex;
  flex-direction: column;
}

.document {
  margin-bottom: 25px;
}
