@import "base";

body {
  background: $accent-color;
}

header {
  background: $primary-color;
  padding-bottom: 20px;
}

.inactive {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.select-options {
  margin-top: 15px;
}

.select-option-button {
  background: #2A88AD;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid #257C9E;
  font: normal 15px 'Bitter', serif;
}

h1 {
  margin-top: 20px;
  color: #2A88AD;
  font: normal 25px 'Bitter', serif;
}

.linkedin-login {
  width: 200px;
  height: auto;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
}

.home-index {
  background: linear-gradient(rgba(128, 175, 191, .3),rgba(128, 175, 191, .3)), image-url(work) no-repeat center center fixed;
  background-size: cover;
}

.home-wrapper {
  background: rgba(247, 245, 241, .85);
  padding: 80px;
  border-radius: 10px;
  margin-top: 5%;
  text-align: center;
  h2 {
    color: #2A88AD;
    font: normal 30px 'Bitter', serif;
  }
  h4 {
    color: #2A88AD;
    font: normal 20px 'Bitter', serif;
  }
}
