@import "base";

nav {
  margin: 0 0 15px 0;
  color: $accent-color;
  font-family: sans-serif;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $accent-color;
  }
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  color: $accent-color;
  font-family: sans-serif;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  .toggle-button {
    width: 35px;
    height: 5px;
    background-color: $accent-color;
    margin: 6px 0;
  }
  .menu-button {
    color: $accent-color;
    font-family: sans-serif;
    margin: 8px 0 0 10px;
    font-size: 20px;
  }
}

.hamburger-navbar-border, .full-navbar-border {
  border-bottom: 2px solid $accent-color;
  width: 85%;
  margin:0px auto;
}

.brand {
  font-size: 2.5em;
  margin: 15px 0 0 0;
  span{
    color: $secondary-color;
  }
}

.logo {
  width: 90px;
  height: auto;
  margin: 5px 5px 0 5px;;
}

@media (max-width: 48em) {

  .bottom-nav-container {
    width: 100%
  }

  .bottom-nav li {
    border-top: 2px solid $accent-color;
    width: 90%;
    font-size: 20px;
    &:last-child {
      border-bottom: 2px solid $accent-color;
      width: 90%;
    }
  }

  .full-navbar-border {
    display: none
  }

}

@media (min-width: 48em) {

  .toggle {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .inactive {
    display: inline;
  }

  .bottom-nav {
    display: flex;
    justify-content: center;
    li {
      margin: 0 3% 0 3%;
      font-size: 20px;
    }
  }

  .hamburger-navbar-border {
    display: none
  }
}
