<nav>
  <% if current_user %>
    Logged in as <%= current_user.name %>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Login with LinkedIn", linkedin_login_path %>
  <% end %>
</nav>
